body {
	background-position: bottom; color: rgb(255, 255, 255); line-height: 1.4285; font-family: "Lato", sans-serif; font-size: 14px; background-attachment: fixed; background-size: cover; background-color: rgb(255, 255, 255);
}
.rockon_bottompadder60 {
	padding-bottom: 60px;
}
.rockon_toppadder60 {
	padding-top: 60px;
}
.rockon_bottompadder50 {
	padding-bottom: 50px;
}
.rockon_toppadder50 {
	padding-top: 50px;
}
a {
	color: rgb(51, 122, 183); text-decoration: none;
}
a:hover {
	color: rgb(35, 82, 124); text-decoration: none;
}
a:focus {
	color: rgb(35, 82, 124); text-decoration: none;
}
a:focus {
	
}
h1 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
h2 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
h3 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
h4 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
h5 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
h6 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
.h1 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
.h2 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
.h3 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
.h4 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
.h5 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
.h6 {
	color: inherit; line-height: 1.1; font-family: inherit; font-weight: 500;
}
#preloader {
	left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; position: fixed; z-index: 2147483647; background-color: rgb(12, 2, 23);
}
#status {
	background-position: center; margin: -18px 0px 0px -18px; left: 50%; top: 50%; width: 36px; height: auto; position: absolute; background-repeat: no-repeat;
}
.main_bg_people {
	background-position: left bottom; animation:slide_bg 100s linear infinite; left: 0px; bottom: 0px; position: fixed; background-repeat: repeat-x; background-size: contain; -webkit-animation: slide_bg 100s linear infinite; -moz-animation: slide_bg 100s linear infinite;
}
.main_bg_people img {
	width: 100%; opacity: 0;
}
#rock_main_wrapper {
	width: 100%; overflow: hidden; float: left;
}
.rock_main_banner {
	width: 100%; float: left; position: relative;
}
.rock_main_banner .rock_banner_content {
	left: 50%; top: 50%; margin-left: 25px; position: absolute; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%);
}
.rock_logo_wrapper {
	position: relative;
}
.rock_logo_wrapper .rock_light {
	transition:0.3s; left: 50%; top: 50%; margin-left: -50px; position: absolute; opacity: 0.6; transform: translateX(-50%); -webkit-transition: all 0.3s; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -moz-transition: all 0.3s;
}
.rock_logo_wrapper .rock_light img {
	transition:0.3s ease-in-out 0.5s; opacity: 0; transform: scale(0); -webkit-transition: all 0.3s ease-in-out; -webkit-transform: scale(0); -moz-transform: scale(0); -moz-transition: all 0.3s ease-in-out; -webkit-transition-delay: 0.5s; -moz-transition-delay: 0.5s;
}
.rock_loaded .rock_logo_wrapper .rock_light img {
	opacity: 1; transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1);
}
.rock_mouse_scroll {
	transition:0.3s; left: 50%; text-align: center; bottom: 50px; position: absolute; cursor: pointer; opacity: 0; transform: translate(-50%, -10px); -webkit-transition: all 0.3s; -webkit-transform: translate(-50%, -10px); -moz-transform: translate(-50%, -10px); -moz-transition: all 0.3s;
}
.rock_loaded .rock_mouse_scroll {
	opacity: 1; transform: translate(-50%, 0px); transition-delay: 1s; -webkit-transform: translate(-50%, 0px); -moz-transform: translate(-50%, 0px); -webkit-transition-delay: 1s; -moz-transition-delay: 1s;
}
.rock_mouse_scroll > span {
	font-size: 12px; display: block;
}
.rock_mouse_scroll svg rect {
	animation:mouse_wheel_anim 0.8s linear infinite alternate; -webkit-animation: mouse_wheel_anim 0.8s linear infinite; -moz-animation: mouse_wheel_anim 0.8s linear infinite; -webkit-animation-direction: alternate; -moz-animation-direction: alternate;
}
.rock_main_banner .rock_banner_content .rock_logo {
	transition:500ms cubic-bezier(1, 0, 0, 1); display: block; opacity: 0; transform: translateY(-100px); -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); -o-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); -webkit-transform: translateY(-100px); -moz-transform: translateY(-100px); -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}
.rock_loaded .rock_main_banner .rock_banner_content .rock_logo {
	opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px);
}
.rock_section {
	padding: 100px 0px; width: 100%; float: left;
}
.rock_section.no_padding_top {
	padding-top: 0px;
}
.rock_section .rock_main_title {
	margin: 0px 0px 100px; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 50px; font-weight: bold;
}
.product_preview {
	text-align: center;
}
.product_preview a {
	transition:0.3s ease-in-out; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 25px; font-weight: bold; display: inline-block; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.product_preview a:hover {
	transform: translateY(-20px); -webkit-transform: translateY(-20px); -moz-transform: translateY(-20px);
}
.rock_buynow_wrapper {
	padding: 100px 20px; width: 100%; text-align: center; float: left; min-height: 300px; background-color: rgba(0, 0, 0, 0.45);
}
.rock_buynow_wrapper > h3 {
	margin: 0px 0px 10px; font-size: 14px;
}
.rock_buynow_wrapper > h3 a {
	color: rgb(0, 255, 204);
}
.rock_buynow_wrapper > a {
	padding: 0px 50px; border-radius: 4px; height: 82px; color: rgb(80, 37, 146); line-height: 79px; font-size: 30px; display: inline-block; background-color: rgb(255, 255, 255);
}
.rock_buynow_wrapper > a:hover {
	opacity: 0.9;
}
.service_image img {
	max-width: 100%;
}
.service_detail {
	width: 100%; text-align: center; margin-top: 150px; float: left;
}
.service_detail h3 {
	text-transform: uppercase; font-size: 37px; font-weight: bold;
}
.rock_feature {
	width: 100%; margin-bottom: 108px; float: left;
}
.rock_feature .feature_image {
	width: 230px; height: 230px; margin-right: 30px; float: left; position: relative;
}
.rock_feature .feature_image::after {
	left: 50%; top: 100%; width: 196px; height: 35px; margin-top: 30px; display: inline-block; position: absolute; content: ""; opacity: 0.2; transform: translateX(-50%); background-image: url("../images/feature/shadow.png"); background-repeat: no-repeat; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%);
}
.rock_feature .feature_image img {
	max-width: 100%;
}
.rock_feature .feature_detail {
	width: calc(100% - 260px); float: left;
}
.rock_feature .feature_detail h3 {
	font-size: 25px; font-weight: bold; margin-top: 25px; margin-bottom: 27px;
}
.rock_feature .feature_detail p {
	font-size: 18px;
}
.rock_feature.left .feature_image {
	margin-right: 0px; margin-left: 30px; float: right;
}
.rock_feature.left .feature_detail {
	text-align: right;
}
.rock_footer {
	padding: 40px 0px; width: 100%; float: left; position: relative; background-color: rgba(0, 0, 0, 0.45);
}
.rock_footer .rock_footer_logo a {
	display: inline-block;
}
.rock_footer .rock_copyright {
	padding: 11px 0px; text-align: center; font-size: 18px;
}
.rock_social ul {
	list-style: none; margin: 0px; padding: 7px 0px; float: right;
}
.rock_social ul li {
	margin-right: 23px; float: left;
}
.rock_social ul li:last-child {
	margin-right: 0px;
}
.rock_social ul li a {
	border-radius: 33px; border: 2px solid rgb(255, 255, 255); border-image: none; width: 33px; height: 33px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; display: block;
}
.rock_social ul li a:hover {
	border-color: rgb(0, 255, 204); color: rgb(0, 255, 204);
}
.rockon_animtion {
	opacity: 0;
}
.pulse {
	animation-name: pulse; animation-fill-mode: forwards; -webkit-animation-name: pulse; -webkit-animation-fill-mode: forwards;
}
.from_left {
	animation-name: from_left; animation-fill-mode: forwards; -webkit-animation-name: from_left; -webkit-animation-fill-mode: forwards;
}
.from_right {
	animation-name: from_right; animation-fill-mode: forwards; -webkit-animation-name: from_right; -webkit-animation-fill-mode: forwards;
}
